
{% if request.user.is_active %}
  {% if profile %}
  <style>
  #brand {
    color: black;
    border: 2px solid #1565C0;
    padding: 10px;
    border-bottom: none;
    font-size: 18px;
  }

  #brand:hover {
    border-bottom: 2px solid #1565C0;
    color: #64B5F6;
  }

  .accounts {
    padding: 10px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 700
  }

  .accounts:hover {
    text-decoration: underline;
  }

  #projects {
    padding: 20px;
    background: #F44336;
    top: 0;
    color: white;
    font-weight: bold;
  }

  #projects:hover {
    background: #F44336;
  }
 
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Awwards</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'createrecipe' %}">Post Project</a>
         </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" label="profile">
                <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'viewprofile' %}">View Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'editprofile' %}">Edit Profile</a></li>
              </ul>
            </li>
            
            <div class="dropdown dropleft">

              <!--Trigger-->
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">APIS</button>
      
      
              <!--Menu-->
              <div class="dropdown-menu dropdown-info">
                <a class="dropdown-item" href="#">Profiles</a>
                <a class="dropdown-item" href="#">Projects</a>
              </div>
            </div>
          </ul>
          <form  class="d-flex"  action="{% url 'search_results' %}>
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Project" aria-label="Search">
            <button id="bs" class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  {% else %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
       <a class="navbar-brand" href="#"><b>Awwards</b></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
           </li>
          
           <li class="nav-item dropdown">
             <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Profile
             </a>

             <ul class="dropdown-menu" aria-labelledby="navbarDropdown" label="profile">
               <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="{% url 'createprofile' %}">Create Profile</a></li>

             </ul>
             
           </li>
 
         </ul>
         <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Search Recipe" aria-label="Search">
           <button id="bs" class="btn btn-outline-success" type="submit">Search</button>
         </form>
       </div>
     </div>
   </nav>
  {% endif %}
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>Awwards</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" label="profile">
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
          </ul>
        </li>
      </ul>
      <form  class="d-flex">
        
        <input class="form-control me-2" type="search" placeholder="Search Project" aria-label="Search">
        <button id="bs" class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endif %}